*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
}

main {
    background: #1F2937;
    color: white;
    height: 550px;
    width: 550px;
    padding: 115px 52px;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.center-text {
    text-align: center;
}

.title {
    font-size: 40px;
}

.accent-title {
    color: #4ADF86;
}

.subtitle {
    color: #D5D4D8;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
}

.generate-btn {
    color: inherit;
    border-radius: 6px;
    background: #10B981;
    padding: 9px 17px;
    border: none;
    cursor: pointer;
    margin-top: 51px;
    margin-bottom: 35px;
}

.passwords-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid#2F3E53;
}

.password-box {
    margin-top: 40px;
    border-radius: 6px;
    background: #273549;
    color: #55F991;
    font-weight: 500;
    line-height: 32px;
    padding: 5px 15px;
    width: 45%;
    text-align: center;
    cursor: pointer;
}